:root {
    --bg-color: #f7f9fd;
    --nav-col: black;
    --border-b: whitesmoke;
    --Atag-col: black;
    --h2-col:black;
    --p-col:black;
    --btn-col: white;

}



body {
  background-color: white;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
}
nav {
  background-color: var(--bg-color);
  width: 100%;
  height: 3.4375rem;
  text-align: center;
  color: var(--nav-col);
  padding: 0.5rem;
  border-bottom: var(--border-b) 2px solid;
}
a {
  color: var(--Atag-col);
  line-height: normal;
  padding: 0.5rem;
  font-size: 1.435rem;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-weight: 700;
  font-size: 1.875rem;
  color: var(--h2-col);
  padding-top: 1.525rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-weight: 400;
  font-size: 30px;
  padding-top: 1.5625rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--p-col);
  padding-bottom: 0.4375rem;
}
button {
  background-image: linear-gradient(90deg,#3A61D6,#072684);
  height: 3.3125rem;
  width: 9.375rem;
  border-radius: 10px;
  color: var(--btn-col);
  font-size: 1.875rem;
  font-weight: 400;
padding: 0.5rem 1.4rem;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
progress {
    /* accent-color: green; */
    height: 1.5rem;
    width: 15rem;
}
.Footer {
    margin-top: 3rem;
}
.Footer p {
    font-size: 1.5rem;
   font-family: Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
